<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,
          user-scalable=no”/>
    <title>dbDSM</title>
    <link rel="shortcut icon" href="/dbDSMv2/images/dbdsmico.png" type="image/x-icon">
    <link rel="stylesheet" href="/dbDSMv2/layui/layui.js" media="all">
    <link rel="stylesheet" href="/dbDSMv2/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/dbDSMv2/layui/css/layui.css"/>
    <link rel="stylesheet" href="/dbDSMv2/css/home.css"/>
    <style>
        legend strong {
            font-size: 16px;
        }

        .layui-field-title legend strong {
            font-size: 18px;
        }

        .heada-child {
            margin-top: -20px;
        }
    </style>
</head>

<body>
<div class="layui-container" style="min-width:1140px;">
    <div class="layui-row" id="header">
        <!--头-->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="banner">
        </div>
        <!--这里是banner-->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="bar">
            <!--这里是导航栏-->
            <ul class="layui-nav" id="navbar">
                <li class="layui-nav-item">
                    <a href="/dbDSMv2/">Home</a>
                </li>
                <li class="layui-nav-item ">
                    <a class="heada" href="#">Search</a>
                    <dl class="layui-nav-child heada-child">
                        <dd><a href="/dbDSMv2/search">Literature-based DSMs</a></dd>
                        <dd><a href="/dbDSMv2/searchannotation">Annotation-based DSMs</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-this">
                    <a href="/dbDSMv2/download">Download</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/dbDSMv2/about">About</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/dbDSMv2/submit">Submit</a>
                </li>
                <li class="layui-nav-item">
                    <a class="heada" href="/dbDSMv2/literature">Literature</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/dbDSMv2/contact">Contact us</a>
                </li>
            </ul>
        </div>
        <!--导航栏到这-->
    </div>
    <!--头到这-->
    <div class="layui-row" id="bodyer">
        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1"
             id="overview" style="margin-bottom:20px;margin-top:20px;">
            <fieldset class="layui-elem-field layui-field-title">
                <legend><i><strong>Download dbDSM datasets</strong></i></legend>
            </fieldset>
        </div>
        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
            <fieldset class="layui-elem-field">
                <legend><strong>dbDSM Version 1</strong></legend>
                <div style="padding-top:10px;padding-bottom:10px;"
                     class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1 layui-text">
                    <table class="layui-table" lay-even lay-skin="line">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                    <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                                    <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
                                </svg>
                                <a style="color:#5fb878;cursor:pointer" href="/dbDSMv2/download/dbDSM v1.3.zip">dbDSM
                                    v1</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field">
                <legend><strong>dbDSM Version 2</strong></legend>
                <div style="padding-top:10px;padding-bottom:10px;"
                     class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td colspan="2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                    <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                                    <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
                                </svg>
                                <a style="color:#5fb878;cursor:pointer"
                                   href="/data4/chengna/dbDSMv2/anno_feature_transcript/whole_genome_GRCh37_sSNV_featanno.vcf.gz">dbDSM
                                    v2</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field">
                <legend style="font-size: 16px">
                    <strong>dbDSM Version 2:</strong> Putatively DSMs in the human genome predicted by voting
                    methods
                </legend>
                <div style="padding-top:10px;padding-bottom:10px;"
                     class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                    <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                                    <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
                                </svg>
                                <a style="color:#5fb878;cursor:pointer"
                                   href="/dbDSMv2/download/whole_genome_SYN_annotation-based.zip">whole_genome_SYN_annotation-based.zip</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field">
                <legend style="font-size: 16px">
                    <strong>dbDSM Version 2:</strong> Feature annotation file for all possible SMs in the human genome
                </legend>
                <div style="padding-top:10px;padding-bottom:10px;"
                     class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
                    <table class="layui-table" lay-skin="line">
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                                    <path d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z"/>
                                    <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
                                    <path d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z"/>
                                </svg>
                                <a style="color:#5fb878;cursor:pointer"
                                   href="/dbDSMv2/download/whole_genome_SYN_featanno.zip">whole_genome_SYN_featanno.zip</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset class="layui-elem-field">
                <legend><strong>General annoucement</strong></legend>

                <div style="padding-top:10px;padding-bottom:10px;"
                     class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">

                    <div class="layui-text" style="color:black;">
                        All the files are free to academic researchers worldwide. Not for profit purposes.
                    </div>
                    <div class="layui-text" style="color:black;">
                        If you have any problems with the download, please contact us.
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="layui-row" id="footer" align='center'>
        <hr class="layui-bg-black">
        <div class="link">
            Links:
            <a class="ow" href="http://bioinfo.ahu.edu.cn:8080/PrDSM/" target="_blank">PrDSM</a>
            <div style="display:inline;">|</div>
            <a class="ow" href="http://bioinfo.ahu.edu.cn:8080/IDSV/" target="_blank">IDSV</a>
            <!-- <div style="display:inline;">|</div>
            <a class="ow" href="http://bioinfo.ahu.edu.cn:8080/Melanoma/index.jsp" target="_blank">Melanoma</a> -->
        </div>
        <div class="copyright">
            Copyright©
            <a class="ow" href="http://en.ahu.edu.cn/" target="_blank">AnHui University</a> ©All Rights Reserved.
        </div>
        <div class="use">
            <!-- Website content is for educational and research purposes only and is not intended to be used for medical advice, diagnosis or treatment. -->
        </div>
    </div>
</div>
</body>
<script src="/dbDSMv2/layui/layui.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;

    });
</script>

</html>